/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

ion-page {
    margin: auto 0;
    padding: 0;
    background-color: rgb(201, 195, 195);
    background-image: url('fondo.jpg');
    background-size: cover;
    place-items: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 100;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
  }
  