.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/fondo.jpg');
    background-size: cover;
    color: aliceblue;
}

.game-container {
    padding-bottom: 20px;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}

.fight-title {
    font-size: 3rem;
}

ion-button:disabled { /* Utilizo la propiedad disabled de ion-button para activar esta clase css*/ 
    --background: #ccc;
    --color: #666;
    --opacity: 0.666;
  }