.fighter-container {
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.dice-container {
    display: flex;
    gap: 5rem;
}
.diceImg {
    width: 5rem;
}
.dice-text {
    font-size: 2.5rem;
}

.fighter-name {
    font-size: 2rem;
    padding: 1rem;
}

.fighter-stats {
    font-size: 1.6rem;
    padding: 1rem;
}
.fighter-img {
    width: 15rem;
}

.health-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

.health-img{
    width: 3.5rem;
    padding-right: 10px;
    padding-bottom: 0px;
}