.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/fondo.jpg');
    background-size: cover;
    color: aliceblue;
}

.game-container {
    padding-bottom: 20px;
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.game-container h2 {
    color: red;
    font-style: italic;
}
.game-container img {
    width: 18rem;
}
.game-container h3 {
    color: white;
}

